
header {
    z-index: 10 !important;
    position: fixed !important;
    background: var(--primary-color);
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left_area {
    display: flex;
    align-items: center;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}


.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}

.logout_btn:hover {
    background: #ffffff;
}

.sidebar {
    background-color: var(--primary-color);
    color: wheat;
    z-index: 10;
    top: 0;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
    font-family: var(--primary-font);

}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 .profile_info .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: rgba(245, 245, 245, 0.833);
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;

}

.sidebar a:hover {
    color: var(--primary-color);
    color: white;
    background: #f3faff1c;
    text-decoration: none;

}

.sidebar a.active {
    color:rgb(234, 173, 52);
    border-left: 5px solid rgb(234, 173, 52);
    padding-left: 35px;
    font-weight: 600;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    color: #fff;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}



#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    visibility: hidden;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}



@media screen and (max-width: 780px) {
    .sidebar {
    }

    #sidebar_btn {
    }

    .content {
        margin-left: 0;
        margin-top: 100px;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked~.content {
        margin-left: 0;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar {
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover {
    }

    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }

    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover {
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
    }
}